name: sonar.$(date:yyyyMMdd)$(rev:.r)

trigger: none
pr: none
resources:
    pipelines:
        - pipeline: continuous
          source: continuous

          trigger:
              branches:
                - '*'

pool:
  vmImage: 'ubuntu-20.04'

variables:
  buildConfiguration: 'Release'

steps:
  # Install .net core sdk
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '2.2.x'
    displayName: 'Install sdk 2.2.x'
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '3.1.x'
    displayName: 'Install sdk 3.1.x'
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '5.0.x'
    displayName: 'Install sdk 5.0.x'
  # Build, test and analyze
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: 'Silverback SonarCloud'
      organization: 'silverback'
      scannerMode: 'MSBuild'
      projectKey: 'silverback'
      projectName: 'silverback'
      projectVersion: '3.0.0'
      extraProperties: |
        sonar.exclusions=**/obj/**,**/*.dll
        sonar.cs.opencover.reportsPaths=$(Build.SourcesDirectory)/**/coverage.opencover.xml
        sonar.cs.vstest.reportsPaths=$(Agent.TempDirectory)/*.trx
    displayName: 'Prepare code analysis on SonarCloud'
  - script: |
      dotnet build Silverback.sln --configuration $(buildConfiguration)
    displayName: 'Build ($(buildConfiguration))'
  - script: |
      dotnet test Silverback.sln \
        --configuration $(buildConfiguration) \
        --no-build \
        --verbosity Normal \
        --logger trx \
        --collect "Code coverage" \
        --filter "CI!=false" \
        -p:CollectCoverage=true \
        -p:CoverletOutputFormat=opencover%2ccobertura \
        -p:Exclude="[xunit.*]*%2c[Silverback.Tests.*]*"
    displayName: 'Run tests'
  - task: SonarCloudAnalyze@1
    condition: succeededOrFailed()
    displayName: 'Run SonarCloud analysis'
  - task: SonarCloudPublish@1
    condition: succeededOrFailed()
    displayName: 'Publish SonarCloud quality gate result'
  # Publish results
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testRunner: VSTest
      testResultsFiles: '**/*.trx'
    displayName: 'Publish test results'
  - task: PublishCodeCoverageResults@1
    condition: succeededOrFailed()
    inputs:
      summaryFileLocation: $(System.DefaultWorkingDirectory)/**/coverage.cobertura.xml
      codecoverageTool: cobertura
    displayName: 'Publish code coverage results'
