a {
    text-decoration: none !important;
}

a.external::after {
    display: none !important;
}

.container-index {

    .content {
        margin: 0 !important;
    }
}

[data-bs-theme="dark"] :not(a):not(pre) > code {
    padding: 0.1em 0.2em;
    background-color: #404040;
    color: #fff;
    border-radius: 3px;
    font-size: 85%;
    font-smooth: auto;
    word-wrap: break-word;
}
.contribution {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* TOC */

.toc-offcanvas {
    max-width: 280px !important;
}

/* Navbar */

header {
    border: none !important;
}

.navbar {
    background-color: #000;
    padding: 0 !important;
}

.navbar .navbar-nav .nav-link {
    color: #9d9d9d;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .navbar-nav .nav-link.active {
    color: #fff !important;
    border-bottom: solid 2px #fff !important;
    background: transparent !important;
}

.navbar [data-bs-theme-value],
.navbar .theme-switch,
.navbar .bi-moon,
.navbar .bi-sun {
    color: #fff !important;
    fill: #fff !important;
}

.navbar .btn {
    color: #fff !important;
}

.navbar-brand img {
    height: 45px;
    width: auto;
    padding: 0;
}

/* Figure */

figure {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #666;
    text-align: left;
    font-size: 14px;
}
