/* @font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode.woff2") format("woff2");
} */
@font-face {
    font-family: "CascadiaMono";
    src: url("../fonts/CascadiaMono.woff2") format("woff2");
}

/* Figure */

figure {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;
}
figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #666;
    text-align: left;
    font-size: 14px;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ccc;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

/* VS2015 code highlight style */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    /* background: #1e1e1e;
    color: #dcdcdc; */
}
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-symbol {
    color: #0101fd;
}
.hljs-link {
    color: #0101fd;
    text-decoration: underline;
}
.hljs-built_in,
.hljs-type {
    color: #007d9a;
}
.hljs-class,
.hljs-number {
    /* color: #b8d7a3; */
    color: #a31515;
}
.hljs-meta-string,
.hljs-string {
    /* color: #d69d85; */
    color: #a31515;
}
.hljs-regexp,
.hljs-template-tag {
    color: #9a5334;
}
.hljs-formula,
.hljs-function,
.hljs-params,
.hljs-subst {
    /* color: #dcdcdc; */
}
.hljs-title {
    color: #007d9a;
}
.hljs-comment,
.hljs-quote {
    color: #008000;
    font-style: italic;
}
.hljs-doctag {
    color: #008000;
}
.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
    /* color: #9b9b9b; */
    color: #007d9a;
}
.hljs-template-variable,
.hljs-variable {
    color: #bd63c5;
}
.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
    /* color: #9cdcfe; */
    color: #0101fd;
}
.hljs-section {
    color: gold;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: 700;
}
.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #d7ba7d;
}
.hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
}
.hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
}

/* Home */

.hero {
    position: relative;
    padding: 70px 0 20px 0;
    clear: both;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.hero .lead {
    /* max-width: 768px; */
    max-width: 450px;
}
.hero::after {
    clear: both;
    content: "";
    display: table;
}
.hero a {
    color: #fff;
}
.hero .wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

@media (min-width: 80em) {
    .hero .wrapper {
        max-width: 1280px;
    }
}
.hero .page-title,
.hero .lead,
.hero .btn {
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.hero .lead {
    font-size: 30px;
    margin-bottom: 20px;
}
.hero .btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.keys {
    padding-bottom: 150px;
}

.key {
    margin-top: 40px;
    text-align: center;
}
.key .icon {
    font-size: 50px;
    align-self: center;
    color: #dadbdc;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #d7dadb;
    margin-bottom: 20px;
}
.key h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.key p, .key ul li {
    text-align: left;
}
.more {
    padding-top: 40px;
    margin-top: 40px;
    text-align: center;
}

/* Custom Footer */

.footer .contacts {
    margin-bottom: 15px;
}
.footer .contacts a {
    color: #333;
    padding-right: 10px;
}
.footer .contacts a:hover,
.footer .contacts a:focus {
    color: #666;
    text-decoration: none;
}
