$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 40%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$primary-color: #6f777d !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;

$background-color: #fff !default;
$code-background-color: #f2f2f2 !default;
$text-color: #000 !default;
$code-text-color: #000;

$link-color: #0065b3 !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: $link-color;

/* syntax highlighting (base16) */
$base00: #f2f3f3 !default;
$base01: #000 !default;
$base02: #000 !default;
$base03: #000 !default;
$base04: #008000 !default;
$base05: #000 !default;
$base06: #000 !default;
$base07: #000 !default;
$base08: #000 !default;
$base09: #000 !default;
$base0a: #007d9a !default;
$base0b: #a31515 !default;
$base0c: #000 !default;
$base0d: #000 !default;
$base0e: #0101FD !default;
$base0f: #000 !default;